.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

#sign-button {
  position:absolute;
  width: 199px;
  height: 45px;
  left: 1205px;
  top: 18px;
  border: none;
  padding: 10px;
  background-color: #507065;
  border-radius: 40px;
  color: #F4EBE3;
}

#log-button {
position: absolute;
width: 199px;
height: 45px;
left: 1205px;
top: 82px;
background: #A4AEB6;
border-radius: 40px;
color: #F4EBE3;
}

#header-name {
  justify-content: center; 
  color: #F4EBE3;
}

#play-button {
  position: absolute;
  width: 93px;
  height: 76px;
  left: 85px;
  top: 241px;
  background-color: #ECB858;
  color: #F4EBE3;
  border-radius: 40px;
}